[Desktop Entry]
Type=Application
Name=Vesktop
Comment=Vesktop autostart script
Exec="/usr/lib/vesktop/vesktop" "--relaunch"
StartupNotify=false
Terminal=false